.container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  min-height: 60vh;
}

.left{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right{
  flex:1;
  font-weight: normal;
  color:#3b3b4b;
  padding: 2rem;
}

h2, h3{
  font-weight: normal;
}

.description{
  margin: 1rem auto;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;

}
.buttonGroup{
  display: flex;
  padding: .3rem 1rem;
}
button{
  margin: .2rem;
  font-weight: normal;
}

.params{
  display: flex;
  justify-content: space-between;
  padding: 0 .3rem 1rem 0;
  border-bottom: 1px solid #3b3b3b;
}